{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>
    {% tailwind_css %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <style>
      * {
        font-family: "Alegreya", serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
    </style>
</head>
<body class="flex flex-col min-h-screen bg-gray-50"> <!-- เพิ่ม min-h-screen ที่นี่ -->
    {% include 'header.html' %}

<div class="min-h-screen bg-gray-100 flex flex-col justify-center">

    <div class="max-w-screen-md w-full mx-auto my-5">
        <div class="bg-white p-8 border border-gray-300 rounded-lg shadow-lg">
            <div class="flex justify-center mb-5">
                <p class=" text-2xl bold">Registeration</p>

            </div>
            {% if messages %}
            {% for message in messages %}
                <div class="mb-4 p-4 rounded-lg {% if message.tags == 'error' %}bg-red-200 text-red-800{% else %}bg-green-200 text-green-800{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
            <form method="post" class="space-y-6">
                {% csrf_token %}
                <div>
                    <label for="username" class="text-sm font-medium text-gray-700">Username</label>
                    <input type="text" name="username" id="username" class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
                </div>
                <div>
                    <label for="email" class="text-sm font-medium text-gray-700">Email</label>
                    <input type="email" name="email" id="email" class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
                </div>
                <div>
                    <label for="password" class="text-sm font-medium text-gray-700">Password</label>
                    <input type="password" name="password1" id="password1" class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
                </div>
                <div>
                    <label for="password" class="text-sm font-medium text-gray-700">Confirm Password</label>
                    <input type="password" name="password2" id="password2" class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" required>
                </div>
                <div>
                    <button type="submit" class="w-full bg-indigo-600 text-white p-3 rounded-md font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">Sign Up</button>
                </div>
            </form>

        </div>
    </div>
</div>